/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
li{
  list-style: none;
  display: inline-block;
  font-size: 18px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
